.letter-input {
    padding-left: 8px;      /* ✅ 좌측 여백 추가 */
    text-align: left;
    white-space: pre-line;
  }
  
  .exit-button {
    background-color: #e0e0e0 !important;
    color: black !important;
    font-family: 'NanumGaRamYeonGgoc', cursive !important;
    font-size: 20px !important;
    border: none !important;
    padding: 5px 13px !important;
    border-radius: 4px !important;
    cursor: pointer;
  }